   table {
       border-collapse: collapse; 
       width: 100%;
   }
   td {
       border: 1px solid black; 
       padding: 10px; 
   }


	.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left {
  left: 0;
  background-color: blue;
}


.right {
  right: 0;
  background-color: black;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img {
  width: 150px;
  border-radius: 50%;
}

